{% extends "base.html" %}

{% block main %}

<h2>Add a recipe</h2>

<div>
    <form id="recipe-form">
        <h2>Recipe Form</h2>
        <div>
            <label for="recipe_name">Recipe Name:</label>
            <input type="text" id="recipe_name">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description"></textarea>
        </div>
        <div>
            <label for="instructions">Instructions:</label>
            <textarea id="instructions"></textarea>
        </div>
        <div id="ingredient-fields">
            <!-- Ingredient fields will be added dynamically -->
        </div>
        <button type="button" onclick="addIngredientField()">Add Ingredient</button>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
{% block footer %}
<script src="/static/recipe_creation.js"></script>
{% endblock %}  