{% extends "base.html"%}

{% block main %}

<h2>{{recipe.name}}</h2>

<h3>Decription:</h3>
<h4>{{recipe.description}}</h4>

    <div>
        <h3>Favorite:</h3>
        <input hidden value="{{ recipe.id }}" id="hidden_id">
        <i id="favorite-icon" class="far fa-star" data-is-favorite="{{ is_favorite }}"></i> 
    </div>
    
<div>
    {% if rating %}
    <h4>Rating: {{rating.rating}}</h4>
        {% if rating.comment %}
            <p>Comment: {{ rating.comment }}</p>
        {% endif %}
            <button id="update-rating-button">Edit Rating & Comment</button>
    {% else %}
            <button id="add-rating-button">Add Rating & Comment</button>
    {% endif %}

    <div id="rating-form" style="display: none;">
        <h3>Rate & Comment</h3>
        <form action="/add_rating/{{ recipe.id }}" method="POST">
            <label for="rating">Rating (1-5):</label>
            <input type="number" name="rating" min="1" max="5" required>
            <br>
            <label for="comment">Comment:</label>
            <textarea name="comment" rows="4" cols="50"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
    


<h3>Ingredients</h3>

<ul>
    {% for ingredient in ingredients %}
        <li>{{ ingredient.ingredient_name }} - {{ ingredient.measurement }} {{ ingredient.unit }}</li>
    {% endfor %}
</ul>

<h3>Instructions</h3>

    <p>{{ recipe.instructions | safe }}</p>

{% endblock %}

{% block footer %}
<script src="/static/favorite.js"></script>
{% endblock %}  